REDIRECT_URL="https://api.domain.com/v1/account/sessions/oauth2/callback/google/id"
PUBLIC_APPWRITE_ENDPOINT="https://api.domain.com/v1"
PUBLIC_APPWRITE_PROJECT="project_id"
APPWRITE_KEY="secret-api-key"
PUBLIC_APPWRITE_DATABASE="database_id"
PUBLIC_APPWRITE_BUCKET="bucket_id"
PUBLIC_APPWRITE_SAMPLE_FILE_BUCKET="sample_file_bucket_id"
PUBLIC_APPWRITE_STUDENT_TEAM = "studen_team_id"
PUBLIC_APPWRITE_EVALUATOR_TEAM = "evaluator_team_id"
PUBLCI_APPWRITE_STUDENT_PROFILE_DB = "student_profile_db_id"