html,
body {
	--custom-font-family: "Inter", sans-serif;
	--custom-bg-color: #fff;
	--custom-color-brand: #a81c2f;
	--custom-color-secondary: #666;
	--custom-border: 1px solid #333;
	--custom-border-radius: 5px;
	--custom-spacing: 5px;

	--color-zinc-300: rgb(199, 197, 197);
	--color-zinc-400: #a1a1aa;
	--color-zinc-500: #454545;
	--color-zinc-700: #3f3f46;
	--color-zinc-800: rgb(65, 64, 64);
	--color-black-600: rgba(0, 0, 0, 0.624);
	--color-black-800: #0F0F0F;
	--color-black-900: #000;
	--color-purple-300: #dacdf4;
	--color-purple-400: rgb(147, 147, 227);
	--color-purple-500: #9270d7;
	--color-white-800: whitesmoke;
	--color-white-900: #fff;
	--color-yellow-100: rgb(253, 232, 110);
	--color-yellow-200: rgb(251, 228, 100);
	--color-yellow-300: rgb(251, 238, 157);
	--color-yellow-500: rgb(243, 211, 0);
	--color-cyan-100: rgb(110, 229, 253);
	--color-cyan-300: rgb(100, 206, 251);
	--color-cyan-700: rgb(0, 198, 243);
	--color-blue-800: #0158fa;
	--color-orange-700: rgb(215, 78, 9);
	--color-magenta-700: rgb(110, 14, 10);
	--color-indigo-400:  rgb(59, 151, 217);
	--color-indigo-600: rgb(18, 78, 120);
	--color-indigo-800: rgb(22, 52, 73);
	--color-gold-400: rgb(240 170 71);
	--color-gold-600: rgb(181, 129, 55);
	--color-gold-800: rgb(134, 98, 48);
	--color-green-700: rgb(125, 163, 110);
	--color-red-700: rgb(239, 68, 68);

	padding: 0;
	margin: 0;
	font-family: var(--custom-font-family);
	background-color: var(--custom-bg-color);
	font-size: 1em;
}

* {
	font-family: var(--custom-font-family);
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	display: contents;
}

/* Grid */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.row {
	position: relative;
	width: 100%;
}
.row [class^='col'] {
	float: left;
	margin: 0.5rem 2%;
	min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 96%;
}
.col-1-sm {
	width: 4.33%;
}
.col-2-sm {
	width: 12.66%;
}
.col-3-sm {
	width: 21%;
}
.col-4-sm {
	width: 29.33%;
}
.col-5-sm {
	width: 37.66%;
}
.col-6-sm {
	width: 46%;
}
.col-7-sm {
	width: 54.33%;
}
.col-8-sm {
	width: 62.66%;
}
.col-9-sm {
	width: 71%;
}
.col-10-sm {
	width: 79.33%;
}
.col-11-sm {
	width: 87.66%;
}
.col-12-sm {
	width: 96%;
}
.hidden-sm {
	display: none;
}
.mt-6 {
	margin-top: 6em;
}
.bordered {
	border: 1px solid var(--color-zinc-400);
	border-radius: var(--custom-border-radius);
}
.flex-start {
	justify-content: flex-start;
}
.items-start {
	align-items: flex-start;
}

@media only screen and (min-width: 33.75em) {
	/* 540px */
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 45em) {
	/* 720px */
	.col-1 {
		width: 4.33%;
	}
	.col-2 {
		width: 12.66%;
	}
	.col-3 {
		width: 21%;
	}
	.col-4 {
		width: 29.33%;
	}
	.col-5 {
		width: 37.66%;
	}
	.col-6 {
		width: 46%;
	}
	.col-7 {
		width: 54.33%;
	}
	.col-8 {
		width: 62.66%;
	}
	.col-9 {
		width: 71%;
	}
	.col-10 {
		width: 79.33%;
	}
	.col-11 {
		width: 87.66%;
	}
	.col-12 {
		width: 96%;
	}
	.hidden-sm {
		display: block;
	}
}

@media only screen and (min-width: 60em) {
	/* 960px */
	.container {
		width: 90%;
		max-width: 60rem;
	}
}

/* Utils */

.block {
	display: block;
	width: 100%;
}
.inline-block {
	display: inline-block;
	width: 100%;
}
.flex {
	display: flex;
}
.flex.column {
	flex-direction: column;
}
.flex.row {
	flex-direction: row;
}
.flex.flex-1 {
	flex: 1 1 0;
}
.flex-end {
	justify-content: flex-end;
}
.flex-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.text-sm {
	font-size: 0.8rem;
	font-weight: 300;
}
.text-right {
	text-align: right;
}
.font-light {
	font-weight: 300;
}
.opacity-half {
	opacity: 50%;
}
.gap-4 {
	gap: 4px;
}

/* Widgets */

.card {
	width: 100%;
	display: block;
	border: var(--custom-border);
	border-radius: var(--custom-border-radius);
	padding: var(--custom-spacing);
}

.avatar {
	border-radius: var(--custom-border-radius);
	overflow: hidden;
	max-width: 100%;
}
.avatar.image {
	object-fit: cover;
}
.avatar.no-image {
	background-color: #333;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
}

@media only screen and (min-width: 60em) {
	/* 960px */

}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.mainHeader {
	width: 100%;
	font-size: 1.3rem;
	margin-bottom: 20px;
}

.avatarPlaceholder {
	border: var(--custom-border);
	border-radius: var(--custom-border-radius);
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-widget {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 90%;
}

.otp-information {
	font-weight: 300;
	font-size: 0.75em;
	color: var(--color-zinc-400);
}
